<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Display Name</key>
	<string>CMD Master</string>
	<key>Last Backup Date</key>
	<date>2022-07-14T14:38:00Z</date>
	<key>Product Type</key>
	<string>iPad7,5</string>
	<key>Product Version</key>
	<string>15.4.1</string>
	<key>Target Identifier</key>
	<string>734e1bde8e54bbfd5378053672f2dc0170f29a60</string>
	<key>Target Type</key>
	<string>Tahoe</string>
</dict>
</plist>
